# 4D-Humans
webdataset
numpy
pytorch-lightning
smplx==0.1.28
pyrender
opencv-python
yacs
scikit-image
einops
timm
dill
pandas
PyOpenGL-accelerate
git+https://github.com/miu200521358/PHALP.git
git+https://github.com/mattloper/chumpy
git+https://github.com/miu200521358/4D-Humans.git
hydra-core==1.3.2
protobuf==4.21.6

# mlib
Babel==2.13.1
mediapipe==0.10.5
pykalman==0.9.7

