# 4D-Humans
webdataset
numpy
pytorch-lightning
smplx==0.1.28
pyrender
opencv-python
yacs
scikit-image
einops
timm
dill
pandas
PyOpenGL-accelerate
git+https://github.com/miu200521358/PHALP.git
git+https://github.com/mattloper/chumpy
git+https://github.com/miu200521358/4D-Humans.git

# mlib
Babel==2.12.1
mediapipe==0.10.0
pykalman==0.9.7

